@charset "UTF-8";

.Header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/images/desktop/image-hero.jpg);
    width: 100vw;
    height: 100vh;
}

.Header--box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
}

.Header--title {
    display: flex;
    align-items: center;
    width: 750px;
    height: 280px;
    padding: 30px;
    border: 2px solid white;
}

.Header--title h1 {
    font-size: 5vw;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--White);
}

.Header--noBlock {
    display: flex;
    width: 600px;
    height: 80vh;
}