@charset "UTF-8";

.Navbar--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    margin: 0 auto;
}

.Navbar--logo {
    display: flex;
    margin-right: auto;
    cursor: pointer;
    z-index: 3;
}

.Navbar--liBurger {
    display: none;
}

.Navbar--li ul {
    display: flex;
    list-style-type: none;
}

.Navbar--li li {
    position: relative;
    font-weight: 600;
    margin: 15px;
    color: var(--White);
    cursor: pointer;
}

.Navbar--li li::after {
    content: '';
    position: absolute;
    top: 150%;
    left: 1%;
    width: 0%;
    height: 2px;
    background-color: var(--White);
    transition: 0.4s ease;
}

.Navbar--li li:hover::after {
    width: 100%;
}

.Navbar--ulBurger ul {
    display: flex;
    flex-direction: column;
}

.Navbar--liBurger li {
    position: relative;
    font-family: var(--Josefin);
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    list-style-type: none;
    margin: 15px;
    color: var(--White);
    cursor: pointer;
    transition: 0.4s ease;
}

@media screen and (max-width:950px) {
    .Navbar--logo img {
        width: 30vw;
    }

    .Navbar--li {
        display: none;
    }
    
    .Navbar--liBurger .Navbar--li {
        display: flex;
    }

    .Navbar--iconBurger {
        z-index: 3;
        cursor: pointer;
    }

    .Navbar--liBurger {
        display: flex;
    }

    .Navbar--liBurger  li::after {
        content: '';
        position: absolute;
        top: 120%;
        left: 1%;
        width: 0%;
        height: 2px;
        background-color: var(--White);
        transition: 0.4s ease;
    }
    
    .Navbar--liBurger li:hover::after {
        width: 100%;
    }

    .Navbar--ulBurger {
        display: flex;
        align-items: center;
        list-style-type: none;
        font-weight: 400;
        width: 100%;
        height: 100vh;
        padding: 40px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: black;
    }
}