@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

:root {
  /*Colors*/
  /*Primary*/
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
  /*Fonts*/
  --Alata: "Alata", sans-serif; /*Weight: 400*/
  --Josefin: "Josefin Sans", sans-serif; /*Weight: 300*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Josefin);
  font-size: 15px;
  background-color: white;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Edge e Safari */
}
