@charset "UTF-8";

.Creations--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 60px 0px 460px 0px;
    gap: 50px;
}

.Creations--box {
    display: flex;
    width: 100%;
    height: 10%;
}

.Creations--title {
    display: flex;
    width: 50vw;
    text-transform: uppercase;
    font-size: 2.1vw;
    justify-content: flex-start;
    align-items: center;
}

.Creations--title h1 {
    font-weight: 400;
}

.Creations--seeAll {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
}

.Creations--seeAll input {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: .4s;
}

.Creations--seeAll input:hover {
    border: none;
    color: var(--White);
    background-color: var(--Black);
}

.Creations--images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-flow: wrap;
    gap: 10px;
}

.Creations--imgs2 {
    display: none;
}

.Creations--imgs {
    display: flex;
    align-items: flex-end;
    width: 24%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.9);
    cursor: pointer;
    transition: .4s;
}

.Creations--imgs:hover {
    opacity: .6;
    background-position: center;
}

.Creations--imgs h2 {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 35px;
    font-size: 2.5vw;
    font-weight: 400;
    align-items: flex-end;
    color: var(--White);
    transition: .4s;
}

.Creations--imgs h2:hover {
    color: var(--VeryDarkGray);
}

@media screen and (max-width:950px) {

    .Creations--container {
        flex-direction: column;
        background-color: red;
    }

    .Creations--box {
        display: flex;
        width: 100%;
        height: 10%;
    }

    .Creations--title {
        display: flex;
        width: 100%;
        text-transform: uppercase;
        font-size: 3.1vw;
        justify-content: center;
        align-items: center;
    }

    .Creations--title h1 {
        font-weight: 400;
    }

    .Creations--seeAll {
        display: none;
    }

    
    .Creations--images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        flex-flow: wrap;
        gap: 10px;
        background-color: blue;
    }
    
    .Creations--imgs {
        display: none;
    }
    
    .Creations--imgs2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(.9);
        cursor: pointer;
        transition: .4s;
        
    }
    
    .Creations--imgs2:hover {
        opacity: .6;
        background-position: center;
    }
    
    .Creations--imgs2 h2 {
        display: flex;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        padding: 35px;
        font-size: 5.5vw;
        font-weight: 400;
        align-items: flex-end;
        color: var(--White);
        transition: .4s;
    }

    .Creations--imgs2:hover {
        opacity: .6;
        background-position: center;
    }
    
    .Creations--imgs2 h2 {
        display: flex;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        padding: 35px;
        font-size: 2.5vw;
        font-weight: 400;
        align-items: flex-end;
        color: var(--White);
        transition: .4s;
    }
    
    .Creations--imgs2 h2:hover {
        color: var(--VeryDarkGray);
    }
    
}