@charset "UTF-8";

.Creations--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 60px 0px 100px 0px;
    gap: 50px;
}

.Creations--box {
    display: flex;
    width: 100%;
    height: 10%;
}

.Creations--title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    text-transform: uppercase;
    font-size: 2.1vw;
}

.Creations--title h1 {
    font-weight: 400;
}

.Creations--seeAll {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.Creations--seeAll2 {
    display: none;
}

.Creations--seeAll input {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: .4s;
}

.Creations--seeAll input:hover {
    border: none;
    color: var(--White);
    background-color: var(--Black);
}

.Creations--images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap ;
    width: 100%;
    height: 100%;
    gap: 25px;
}

.Creations--imgs2 {
    display: none;
}

.Creations--imgs {
    display: flex;
    align-items: flex-end;
    width: 23%;
    height: 68vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.8);
    cursor: pointer;
    transition: .4s;
}

.Creations--imgs:hover {
    opacity: .6;
    background-position: center;
}

.Creations--imgs h2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 35px;
    font-size: 2.2vw;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--White);
    transition: .4s;
}

.Creations--imgs h2:hover {
    color:rgb(87, 0, 87);
}

@media screen and (max-width:1180px) {

    .Creations--container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 60px 0px 100px 0px;
    }

    .Creations--box {
        display: flex;
        width: 100%;
        height: 10%;
    }

    .Creations--title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 3vw;
        text-transform: uppercase;
        width: 100%;
    }

    .Creations--title h1 {
        text-align: center;
        font-weight: 400;
    }
    
    .Creations--seeAll2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .Creations--seeAll {
        display: none;
    }

    .Creations--seeAll2 input {
        width: 35%;
        height: 45px;
        font-weight: 600;
        text-transform: uppercase;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
        transition: .4s;
    }
    
    .Creations--seeAll2 input:hover {
        border: none;
        color: var(--White);
        background-color: var(--Black);
    }

    .Creations--images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-flow: wrap ;
        width: 100%;
        height: 100%;
        gap: 25px;
    }
    
    .Creations--imgs {
        display: none;
    }
    
    .Creations--imgs2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 25vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top ;
        filter: brightness(.8);
        cursor: pointer;
        transition: .4s;
    }
    
    .Creations--imgs2:hover {
        opacity: .6;
        background-position: center;
    }
    
    .Creations--imgs2 h2 {
        display: flex;
        text-transform: uppercase;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        padding: 35px;
        font-size: 3vw;
        font-weight: 400;
        color: var(--White);
        transition: .4s;
    }
    
    .Creations--imgs2 h2:hover {
        color:rgb(87, 0, 87);
    }
}

@media screen and (max-width:950px) {

    .Creations--title {
        font-size: 4vw;
    }

    .Creations--imgs2 h2 {
        font-size: 5vw;
    }
}