@charset "UTF-8";

.Introduce--container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Introduce--img {
    display: flex;
}

.Introduce--img1 {
    display: flex;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%,-50%);
}

.Introduce--img1 img {
    width: 100%
}

.Introduce--img2 {
    display: none;
}

.Introduce--box1 {
    display: flex;
    display: flex;
    position: absolute;
    top: 70%;
    left: 68%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    background-color: white;
    gap: 25px;
}

.Introduce--box2 {
    display: none;
}

.Introduce--title {
    display: flex;
    width: 100%;
    font-family: var(--Josefin);
    font-size: 1.8vw;
    text-transform: uppercase;
    text-align: center;
}

.Introduce--title h1 {
    font-weight: 300;
}

.Introduce--text {
    display: flex;
    width: 76%;
    font-family: var(--Alata);
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:980px) {

    .Introduce--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .Introduce--img1 {
        display: none;
    }

    .Introduce--img2 {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .Introduce--img2 img {
        width: 90%;
    }

    .Introduce--box1 {
        display: none;
    }

    .Introduce--box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    .Introduce--title {
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    .Introduce--text {
        text-align: center;
        margin-top: 20px;
    }
    
    
}